html, body, #top-container {
  margin: 0;
  padding: 0;
  height: 100%;
}

#top-container {
  overflow-y: auto;
}

.dict-title {
  background:#f2f2f2;
  padding: 10px;
}

.word-detail {
  padding: 8px;
}

img {
  max-width: 100%;
}

