html, body, #top-container {
  margin: 0;
  padding: 0;
}

.title-area {
  background:#f2f2f2;
  padding: 10px;
  display: flex;
  align-items: center;
}

.word-item {
  border-bottom: 1px #ccc solid;
}

.dict-title {
	flex: 1;
}

.arrow-right {
	width: 0; 
  height: 0; 
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #bbbbbb;
}

.arrow-down {
	width: 0; 
  height: 0; 
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-top: 6px solid #bbbbbb;
}

.word-detail {
  padding: 8px;
}

img {
  max-width: 100%;
}

